.container-fluid{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.jumbotron{
    width: 100vw;
    height: 200px;
    background-color: #F90403;
}
.left, .right{
    float: left;
    width: 50vw;
}
